.selector{
    width: 50px;
    height: auto;
    border: medium ridge black;
    display: block;
    
}

.menu{
    display: inline;
}

.menu-item{
    display: none;
    border: thin solid grey;
}

.menu-item:hover{
    background-color: LightCyan;
}