.selector{
    width: 50px;
    height: auto;
    border: thin inset black;
    display: block;
    border-radius: 7px;
    
}

.menu-item{
    display: none;
    border: thin solid grey;
    position: relative;
    z-index: 1;
    
}

.menu-item:hover{
    background-color: LightCyan;
    position: relative;
    z-index: 1;
   
}