

body{
    background: #696969;
    margin-left: 1em;
    color:#C0C0C0;
}

.divider{
    border-top: 1px solid darkgray;
    margin-top: 10px;
    margin-bottom: 10px;
}


#avatar-text{
    color:#C0C0C0;
}

#portrait{
    border: 3px groove #0000FF;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

#profileName{
    margin-top: 10px;
    margin-bottom: 17px;
    background-color: #696969;
    
}

input::-webkit-input-placeholder {
    color:   white;
}
input:-moz-placeholder {
    color:    white;
}
input:-ms-input-placeholder {
    color:    white;
}

#profileNameText{
    color:whitesmoke;
}

#public-profile{   
}

#avatar{
    display: block;
}

#name{
    display:block;
}

