body{
    background: black;
    color: white;
    
}

.divider{
    border-top: 1px solid darkgray;
   
}

#headers{
    display: inline;
    font-size: 25px;
    margin-bottom: 5px;
}

#time{
    float: right;
}

#options{
    background: white;
    color: black;
    float: left;
    height: 900px;
    margin-right: 0px;
    padding-right: 0px;
    font-size: 29px;
}

#voice-bar{
    display: block;
    width: 100%;
    background: -webkit-linear-gradient(top, black, black);
    background: -mozt-linear-gradient(top, black, black);
    
}

#voice-bar:hover{
    display: block;
    width: 100%;
    background-image: -webkit-linear-gradient(top, #33FF00,#33FF00);
    background-image: -mozt-linear-gradient(top, #33FF00, #33FF00);
}

#voice-number{
    float: right;
}

#voice-volume{
    border: 1px solid lightgray;
    margin: 5px;
    padding: 3px;
}



#preferences{
    padding-left: 0px;
    
}

#game-bar{
    display: block;
    width: 60%;
    background: -webkit-linear-gradient(top, black, black);
    background: -mozt-linear-gradient(top, black, black);
    
}

#game-bar:hover{
    display: block;
    width: 60%;
    background-image: -webkit-linear-gradient(top, #33FF00,#33FF00);
    background-image: -mozt-linear-gradient(top, #33FF00, #33FF00);
}

#game-volume{
    border: 1px solid lightgray;
    margin: 5px;
    padding: 3px;
}

#game-number{
    float: right;
}

#output{
    margin-top: 620px;
    margin-left: 20px;
}

#headset:hover{
    background: #33FF00;
}

#speakers:hover{
    background: #33FF00;
}

#both:hover{
    background: #33FF00;
}

#text{
    margin-bottom: 10px;
}

.radio{
    font-size: 29px;
    
}

#description{
    font-size: 29px;
    background-color: gray;
    height: 900px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 35px;
    width: 51%;
}

#brief{
    margin-top: 20px;
    margin-left: 20px;
}

#voice-desc{
    margin-left: 20px;
    margin-top: 50px;
}

#game-desc{
    margin-left: 20px;
    margin-top: 10px;
}

input, textarea, select {
   border: 1px solid darkgray;
   padding: 0.5em;
   font-size: 15px;
   line-height: 1.2em;
   width: 60%;
   -webkit-appearance: none;
   -webkit-border-radius: 1em;
   -moz-appearance: none;
   -moz-border-radius: 1em;
}

input[type=radio]{
   display: inline-block;
   font-size: 15px;
   line-height: 1em;
   margin: 0 0.25em 0 0;
   padding: 0;
   width: 1.25em;
   height: 1.25em;
   -webkit-border-radius: 1em;
   -moz-border-radius:1em;
   vertical-align: text-top;
   border: 1px solid darkgray;
 }
 
input[type=radio]:checked {
    background: url("black-circle.png") no-repeat center center;
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
}

#a-button, #b-button{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 25px;
    font-size: 20px;

}